/* ------------------------------- 
    Eindopdracht Pascal Pater
  Javascript Async/API - ToDo List
   ------------------------------- */


/* Base */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

main {
    padding: 10px 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Add new todo form */

.todo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* max-width: 500px; */
}

input.todo__item {
  color: #222;
  font-size: 14px;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #B1BEC1;
  border-radius: 8px;
  outline: none;
  width: 70%;
  flex: 1 0 170px;
}

input.todo__item:focus {
  border: 1px solid #0d44a8;
}

.todo__btn {
  appearance: none;
  border: 1px solid transparent;
  font-size: 14px;
  padding: 8px 12px;
  margin-left: 8px;
  background-color: #0d44a8;
  color: #fff;
  border-radius: 4px;
}

.todo__btn:hover {
  border: 1px solid #0d44a8;
  background-color: #fff;
  color: #222;
  cursor: pointer;
}

/* Todo list */

.todo-list {
  /* max-width: 500px; */
}


.todo-list__item {
  display: flex;
  align-items: center;
  padding: 6px;
}

.todo-list__item--done {
  text-decoration: line-through;
}

.todo-list__check {
  margin-right: 8px;
}

.todo-list__description {
  caret-color: red;
}

.todo-list__description:hover + .todo-list__hint{
  display: inline;
}

.todo-list__hint {
  font-size: 12px;
  font-style: italic;
  margin-left: 14px;
  padding-top: 2px;
  display: none;
}

.icon-delete {
  cursor: pointer;
  margin-left: auto;
}
 